body {
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 0%;
}

.nome {
  font-family: 'Black Ops One', cursive;
  color: white;
  position: absolute;
  font-size: 15vh;
  margin-left: 7vh;
  margin-top: 2vh;
}

.welcome {
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: absolute;
  font-weight: lighter;
  font-size: 4vh;
  top: 7vh;
  left: 17vw;
}

#sfondo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -40%);
  height: 80%;
  width: 100%;
  background-image: url("Tokyo Ghoul sigla.jpg");
  z-index: -1;
}

#rettangolo {
  z-index: 0;
  margin-right: 2%;
  margin-top: 10%;
  float: right;
  width: 17vw;
  height: 70vh;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.text {
  padding: 1em;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: lighter;
  font-style: italic;
  font-size: 2.5vh;
  text-align: center;
}

#menu ul {
  list-style-type:none;
  padding-left: 1.5vw;
}

#menu li {
border-bottom: 1px solid white;
margin: 0px;
padding: 0;
width: 200px;
}

#menu a {
  font-family: 'Open Sans', sans-serif;
  font-size: 3vh;
  font-weight: lighter;
  text-align: center;
  text-decoration:none;
  color:#fff;
  background:black; /* Colore sfondo */
  padding: 6px; /* Distanza tra gli elementi */
  display: block;
}

#menu a:hover {background: #242A41; /* Sfondo */
}

.iconbar {
  text-align: right;
  width: 5%;
  height: 15%;
  position: absolute;
  right: 8vw;
  bottom: 19vh;
}

.iconbar a {
  display: block;
  padding: 10px;
}

.iconbar a:hover {
  background-color: #242A41;
}
